.footer {
  height: 50px;
  position:fixed;
  bottom:0px;
  background-color:#fff;
  width:100%;
  clear: both;
  text-align:center;	
  line-height: 50px;
  font-size: 80%;
  font-weight: lighter;
 
}
