example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 60%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.example-card {
  max-width: 600px;
 
}

.example-header-image {
  background-image: url('http://localhost:4200/assets/logo.jpg');
  background-size: cover;
}
