input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

:host {
  display: block;
}

my-slide-panel {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 68%;

  div,
  img {
    font: 17px cursive;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

[leftPane] {
  background-color: white;
}

[rightPane] {
  background-color: white;
}

img {
  border-radius: 50%;
}

input {
  font: 15px sans-serif !important;
  opacity: 1;
  text-shadow: unset !important;
  font-weight: 300 !important;
  color: #8b4513 !important;
}

.mat-radio-button {
  margin: 0 12px;
}
.matItems {
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 20px;
}
