.tile-1 {
  background: #9cafec;
}
.tile-2 {
  background: #8396d3;
}


input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

:host {
  display: block;
}

my-slide-panel {
  
 

  div,img {
    font: 17px cursive;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

[leftPane] {
  background-color: white;
}

[rightPane] {
  background-color: white;
}
img {
  border-radius: 50%;
}
input {
  font: 15px sans-serif !important;
  opacity: 1;
  text-shadow: unset !important;
  font-weight: 300 !important;
  color: #8B4513 !important;
}

