<div mat-dialog-content align="center">

  <form [formGroup]='forgotPassForm' novalidate (ngSubmit)="inquire(forgotPassForm.value)">

    <mat-form-field>

      <input matInput formControlName="inquire" name="inquire" autocomplete="off" class="inquireClass"
        id={{responseData}} required>

      <mat-placeholder class="placeholder">Enter Email or Mobile.</mat-placeholder>
      <mat-error *ngIf="forgotPassForm.get('inquire').hasError('required') && forgotPassForm.get('inquire').touched">We
        need this info to find your account.</mat-error>
    </mat-form-field>

    <div mat-dialog-actions align="center">
      <button mat-mini-fab color="basic" type="submit" cdkFocusInitial [disabled]="!forgotPassForm.valid">Ok</button>
    </div>
  </form>
